@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Red+Hat+Display:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

*{
     margin: 0;
     padding: 0;
     border:0;
     outline:0;
     box-sizing: border-box;
     list-style: none;
     text-decoration:none;

}


:root {
  --color-primary-400: #ede4e4;
  --color-primary-500: #d6bcbc;
  --color-primary-600: #a79393;
  --color-primary-700: #7a6c6c;
  --color-primary-800: #514848;
  --color-primary-900: #2a2626;

  --transition: all 400ms ease;
  
  
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}

.light-theme{
    --color-primary-400: #2a2626;
    --color-primary-500: #514848;
    --color-primary-600: #7a6c6c;
    --color-primary-700: #a79393;
    --color-primary-800: #d6bcbc;
    --color-primary-900: #ede4e4;

}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    background: var(--color-primary-800);
    color: var(--color-primary-500);
    line-height: 1.7;
    

}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;

}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}
 h1{
    font-size: 2.5rem;
 }
 section{
    margin-top: 8rem;
    

 }
 section > h2, 
 section > h5 {
    text-align: center;
    color: var(--color-primary-600);
 }

 section >h2 {
    color: var(--color-primary-500);
    margin-bottom:3rem;
 }
 .text-light {
    color:var(--color-primary-500);
 }

 a {
    color: var(--color-primary-400);
    transition: var(--transition);
 }
 
 a:hover{
    color: var(--color-primary-700);
 }
 .btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary-600);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor:pointer;
    border: 1px solid var(--color-primary-700);
    transition: var(--transition);

 }
 .btn:hover {
    background:var(--color-primary-400);
    color: var(--color-primary-800);

 }
 .btn-primary {
    background: var(--color-primary-600);
    color:var(--color-primary-400)


 }
img {
    display: block;
    width:100%;
    object-fit:cover;
}

@media screen and (max-width:1024px){
    .container{
        width: var(--container-width-md)

    }
    section {
        margin-top:6rem;
    }
}

@media screen and (max-width: 600px){
    .container{
        width: var(--container-width-ms)

    }
    section > h2{
        margin-bottom:2rem;
    }
}
